  body { 
    font-family: “arial black”;     
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: normal;
  }
  ul, li { 
    list-style: none;    
  }

  h3 {
    font-size: 1em;
  }
  
  .profileCard {          
    position: relative;
    width: 320px;
    height: 140px;
    border: 1px solid #86888A;    
    margin-top: 4%;
  }
  .info {
    height: 100%;
  }

  .miniProfilePic {
    float: left;
  }

  .profileInfo {        
    width: 100%;
    height: 100%;    
    background-color: white;
  }

  .connections {
    background-color: beige;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
  }

  #popContainer {
    height: 100px;
    width: 250px;    
    position: absolute;        
    background-color: #0077B5;    
    z-index: 1;
  }

  #feed {
    background-color: #CACCCE;    
    position: relative;


  }